body {
	background-image:url(bg.jpg);
	background-color: #CCC;
	font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}
div {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	
	background-color: #FFF;
	background-color:rgba(255,255,255,0.8);
	border-radius:15px;
	
	
}
h1 {
	font-size: 50px;
	color: #090;
	text-transform:uppercase;
}
h2 {
	font-size: 30px;
	color: #999;
}
p {
	font-size: 16px;
	color: #000;
	line-height: 1.5;
	text-align: justify;
	
	text-indent:2em;
}
